@import "general.css";

.hero
{
    position: relative;
    color: white;
}

.hero img
{
    width: 100%;
    height: 100vh;
    position: fixed;
    filter: brightness(40%);
    object-fit: cover;
    z-index: -1;
}

.hero .about-me
{
    position: relative;
    width: 100vmin;
    max-width: 90%;
    max-height: 90vh;
    text-align: center;
}

.hero .about-me .hero-title
{
    font-size: 4.5vmax;
    margin-bottom: 20px;
    animation: side-enter 1s;
    color: #ccc;
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 0.2rem;
}

.hero .about-me blockquote
{
    /* filter: drop-shadow(2px 2px #333); */
    font-size: 1.5rem;
    font-weight: 400;
    color: #ddd;
}

.skills
{
    background: hsl(var(--main-hue), var(--main-saturation), 7%);
    color: var(--section-title-color);
    font-weight: 300;
    font-size: 20px;
    padding: 50px 20px;
    height: 100%;
    min-height: 100vh;
}

.skills-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px 20px;
    align-items: center;
    justify-items: center;
}

.skills-grid .skill
{
    width: 250px;
    height: 300px;
    /* background: hsl(var(--main-hue), var(--main-saturation), 10%); */
    padding: 20px 10px;
    /* box-shadow: 0 0 20px #00010a; */
    box-shadow: 5px 5px 5px 2px hsl(var(--main-hue), var(--main-saturation), 5.5%),
                0px 0px 5px 5px hsl(var(--main-hue), var(--main-saturation), 8.5%);
    border-radius: 0.5rem;
}

.skills-grid .skill .wrapper
{
    width: 100%;
    height: 70%;
    margin-bottom: 10px;
}

.skills-grid .skill img
{
    height: 90%;
    display: block;
    margin: 10px auto;
}

.skills-grid .skill h2
{
    text-align: center;
}

.projects
{
    height: 100%;
    min-height: 100vh;
    background: hsl(var(--main-hue), var(--main-saturation), 9%);
    padding: 50px 20px;
}

.projects .projects-grid
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px 20px;
    align-items: center;
    justify-items: center;
}

.projects-grid .project
{
    height: 400px;
    width: 300px;
    max-width: 100%;
    /* background: hsl(var(--main-hue), var(--main-saturation), 15%); */
    /* box-shadow: 0 0 20px hsl(var(--main-hue), var(--main-saturation), 12%); */
    box-shadow: 5px 5px 5px 2px hsl(var(--main-hue), var(--main-saturation), 7.5%),
                0px 0px 5px 5px hsl(var(--main-hue), var(--main-saturation), 10.5%); 
    border-radius: 0.5rem;
    overflow: hidden;
}

.projects-grid .project .wrapper
{
    height: 50%;
    width: 100%;
    overflow: hidden;
}

.projects-grid .project .wrapper img
{
    display: block;
    max-width: 90%;
    margin: 0 auto;
    margin-top: 1rem;
    transition: 0.5s;
}

.projects-grid .project .text-wrapper
{
    padding: 10px 20px;
    width: 100%;
    color: white;
    text-align: center;
    margin-bottom: 10px;
    height: 100px;
    min-height: 34%;
}

.projects-grid .project .text-wrapper h2
{
    margin-bottom: 10px;
}

.projects-grid .project .text-wrapper p
{
    line-height: 150%;
}

.button-link
{
    position: relative;
    transform: translateX(-50%);
    left: 50%;
    padding: 10px 10px;
    width: 80%;
    color: white;
    border: 1px solid #eee;
    background: transparent;
    transition: color 500ms;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2px;
}

.button-link::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 200%;
    z-index: -1;
    background: white;
    cursor: pointer;
    transform: rotateZ(-90deg);
    perspective: 1000px;
    transform-origin: 0 100%; 
    transition: transform 300ms ease;
    pointer-events: none;
}

.button-link:hover::before
{
    transform: rotateZ(0deg);
}

.button-link:hover
{
    color: black;
}

.button-link:active::before
{
    background: #d1d1d1;
}

.contact
{
    background: hsl(var(--main-hue), var(--main-saturation), 11%);
    height: max-content;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem;
}

.contact form
{
    /* background: hsl(var(--main-hue), var(--main-saturation), 8%); */
    
    box-shadow: 5px 5px 5px 2px hsl(var(--main-hue), var(--main-saturation), 9.5%),
                0px 0px 5px 5px hsl(var(--main-hue), var(--main-saturation), 12.5%); 
    padding: 20px 40px;
    color: white;
    width: 90vmin;
    border-radius: 0.5rem;
    height: max-content;
    min-height: 80vmin;
}

.contact form > *
{
    display: block;
    outline: none;
    color: white;
    width: 100%;
}

.contact form h1
{
    text-align: center;
    margin-bottom: 20px;
}

.contact form input,
.contact form textarea
{
    border: none;
    background: #ffffff2d;
    border-radius: 5px;
}

.contact form input + div,
.contact form textarea + div
{
    position: relative;
    left: 0;
    top: -25px;
    width: 100%;
    height: 3px;
    background: hsl(219, 100%, 50%);
    transform: scaleX(0);
    transition: transform 0.3s;
    border-radius: 3px;
}

.contact form input:focus + div,
.contact form textarea:focus + div
{
    transform: scaleX(1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus
{
  -webkit-text-fill-color: white;
  box-shadow: 0 0 0 1000px hsl(var(--main-hue), 45%, 20%) inset;
  transition: background-color 5000s ease-in-out 0s;
  caret-color: white;
}

.contact form input
{
    padding: 8px;
    transition: 0.2s;
    margin-bottom: 25px;
}

.contact form input:focus,
.contact form textarea:focus
{
    background: hsl(var(--main-hue), 45%, 20%);
}

.contact form textarea
{
    max-width: 100%;
    height: 100px;
    padding: 8px;
    transition: 0.2s;
    resize: none;
    font-size: 16px;
    margin-bottom: 2rem;
}

.contact form textarea + div
{
    top: -2rem;
}

.contact form label
{
    margin-bottom: 10px;
}

.contact form button
{
    padding: 10px 20px;
    margin-inline: auto;
    margin-bottom: 20px;
    border: 2px solid hsl(var(--main-hue), var(--main-saturation), 50%);
    color: white;
    background: hsl(var(--main-hue), var(--main-saturation), 50%);
    transition: 0.2s;
    font-size: 15px;
    border-radius: 100vw;
    width: 60%;
    min-width: 200px;
    box-shadow: 0 0 0.5rem #0007;
}

.contact form button:hover
{
    background: hsl(var(--main-hue), 100%, 50%);
}

.contact .links
{
    box-shadow: 5px 5px 5px 2px hsl(var(--main-hue), var(--main-saturation), 9.5%),
                0px 0px 5px 5px hsl(var(--main-hue), var(--main-saturation), 12.5%); 
    padding: 20px 40px;
    width: 90vmin;
    border-radius: 0.5rem;
    color: #ddd;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.contact .links img
{
    width: 3rem;
}

.footer
{
    height: 10vh;
    background-color: hsl(var(--main-hue), var(--main-saturation), 5%);
}

.footer .copyright
{
    position: relative;
    color: #999;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
}
